<nav id="navBar" class="navbar navbar-expand navbar-dark bg-dark m-0 justify-content-center">
    <div class="d-flex flex-row justify-content-around flex-fill">
      <a href="#" class="d-flex navbar-brand align-self-center">Farmacist</a>
      <!-- <button class="d-flex navbar-toggler" data-toggle="collapse" data-target="#NavbarNav">
        <span class="nav-toggler-icon"></span>
      </button> -->
      <div id="NavbarNav" class="d-flex collapse navbar-collapse">
        <ul  class="navbar-nav flex-fill justify-content-center">
          <li class="nav-item">
              <a  class="nav-link" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link" [routerLink]="['/global']" routerLinkActive="active">Global Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/search']" routerLinkActive="active">Search</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Registration</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link">Find sellers</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link" [routerLink]="['/findBuyers']" routerLinkActive="active">Find buyers</a>
          </li>
        </ul>
        <div class="d-flex flex-fill">
          <input class="form-control" type="text" placeholder="Search any keyword" aria-label=".form-control-lg example">
        </div>  
        <div class="d-flex ml-2 me-auto">
          <button mat-raised-button color="accent" [routerLink]="['/auth']">Login</button>
          <button  mat-raised-button color="primary" class="ml-2" (click)="logout()" [routerLink]="['/auth']">Logout</button>
        </div>
      </div>
    </div>
  </nav>
  
<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon>dialpad</mat-icon>
      <span >Dashboard</span>
    </button>
    <button mat-menu-item [routerLink]="['/global']" routerLinkActive="active">
      <mat-icon>voicemail</mat-icon>
      <span >Global Register</span>
    </button>
    <button mat-menu-item [routerLink]="['/search']" routerLinkActive="active">
      <mat-icon>notifications_off</mat-icon>
      <span >Search</span>
    </button>
    <button mat-menu-item [routerLink]="['/commoditySearch']" routerLinkActive="active">
      <mat-icon>notifications_off</mat-icon>
      <span >Commodity search</span>
    </button>
    <button mat-menu-item [routerLink]="['/register']" routerLinkActive="active">
      <mat-icon>notifications_off</mat-icon>
      <span >Registration</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>notifications_off</mat-icon>
      <span>Find sellers</span>
    </button>
    <button mat-menu-item [routerLink]="['/findBuyers']" routerLinkActive="active">
    <mat-icon>notifications_off</mat-icon>
    <span>Find buyers</span>
    </button>
  </mat-menu>
  <span>eMarket</span>
  <div class="example-spacer">{{ headerScreenTitle | titlecase }}</div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->
