<div fxFlex="1 0 100%" fxLayout="column nowrap" fxLayoutAlign="space-around center">
    <mat-spinner fxFlex="0 0 auto" fxAlign="stretch" *ngIf="isLoading" class="spinner"></mat-spinner>
    <mat-card fxFlex="0 0 auto" fxAlign="end" *ngIf="error" tabindex="0">{{error}}</mat-card>
    <div fxFlex="0 0 50%" fxAlign="stretch" *ngIf="!isLoading">
        <form  #authForm="ngForm">
            <mat-form-field appearance="outline">
            <mat-label for="email">email</mat-label>
            <input matInput type="text" ngModel name="email"  required email>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
            <mat-label for="password">Password</mat-label>
            <input matInput type="password" ngModel name="password" minlength="6" required>
            </mat-form-field>
        </form>
        <div fxLayout="row nowrap" fxLayoutAlign="space-around center">
            <button fxFlex="0 0 33%" mat-raised-button color="primary" (click)="onSubmit(authForm)" [disabled]="!authForm.valid">{{isLoginMode?'Login': 'Sign Up'}}</button>
            <div fxFlex="0 0 33%" fxAlign="center" style="text-align: center;"><mat-icon  [innerHTML]="!authForm.valid? 'sentiment_very_dissatisfied' : 'sentiment_very_satisfied'"></mat-icon></div>
            <button  fxFlex="0 0 33%" mat-raised-button  color="primary" (click)="onSwitchMode()">Switch to  {{isLoginMode?'Sign Up': 'Login'}}</button>
        </div>
    </div> 
</div>
