<div fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="center stretch">
    <div fxFlex="1 1 50%" fxLayout="row no wrap" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <mat-card>
                <h1>Commodity search</h1>
            </mat-card>
        </div>
        <div fxLayout="column" fxLayoutAlign="center start">
            <mat-card>
                <h1>Trending price</h1>
            </mat-card>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center start">
        <mat-card>
            <h1>Min price</h1>
        </mat-card>
        </div>
        <div fxLayout="column" fxLayoutAlign="center start">
        <mat-card>
            <h1>Max price</h1>
        </mat-card>
        </div>
    </div>
</div>