.highlight {
    font-size: 14px;
    &-heading {
        color: black;
    }
    &-body {
        color: blue;
    }
}
.backdrop {
    background-image: url(../assets/farm.jpg);
    background-size: 100% 100%;
    min-height: -webkit-fill-available;
}