<div>
  <mat-card>
    <mat-card-content>
      <h1>Procurement orders listing</h1>
      <button mat-button color="primary" (click)="refreshRows()">Refresh</button>
      <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
      </mat-form-field>
      
      <table class="table" mat-table [dataSource]="dataSource">
      
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef class=""> Company </th>
          <td mat-cell *matCellDef="let element"> {{element.company}} </td>
        </ng-container>
        
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef> Product </th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        
        <ng-container matColumnDef="units">
          <th mat-header-cell *matHeaderCellDef> Units </th>
          <td mat-cell *matCellDef="let element"> {{element.units}} </td>
        </ng-container>

        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef> Payment </th>
          <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
        </ng-container>
        
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="geography">
          <th mat-header-cell *matHeaderCellDef> Geography </th>
          <td mat-cell *matCellDef="let element"> {{element.geography}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="openDialog(dataSource.filteredData.indexOf(element))">Update</button>
            <button mat-raised-button color="warn" (click)="deleteEntry(dataSource.filteredData.indexOf(element))">Delete</button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <button mat-raised-button color="accent" class="example-margin" (click)="routeBack()">Go back</button>
    </mat-card-content>
  </mat-card>
  <button mat-button color="primary" (click)="refreshRows()">Refresh</button>
</div>