<div class="content col-md-12 pt-2" role="main">
  <p class="h1 text-primary">Angular material Form </p>

  <mat-card>
    <mat-card-content>
      <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="procureForm">
        <mat-form-field class="example-full-width">
          <mat-label>Select product</mat-label>
          <mat-select formControlName="productName" [formControl]="productN" required>
            <mat-option>Select</mat-option>
            <mat-option *ngFor="let product of products">
              {{product.name}}
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="procureForm.controls['productName'].errors('required')">Please choose a product</mat-error> -->
          <mat-hint>{{productN?.type}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Model</mat-label>
          <select matNativeControl required formControlName="model">
            <option label="--select something --"></option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
          </select>
          <!-- <mat-error *ngIf="procureForm.controls['model'].errors('required')"> 
            This field is required
          </mat-error>-->
          <mat-hint>You can choose the year here</mat-hint>
        </mat-form-field>
      
        <mat-lable>Price range in INR</mat-lable>
        <mat-slider min="1" max="100" step="10" value="10" formControlName="price" [(ngModel)]="PPU"></mat-slider>
        <span>{{PPU}}</span>
        <mat-form-field class="example-full-width">
          <mat-label>Delivery date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <mat-label>Number of units</mat-label>
          <input type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                formControlName="units"
                [matAutocomplete]="auto"/>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-label>Payment Mode</mat-label>
        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled" formControlName="payment"></mat-slide-toggle>
        <span *ngIf="checked; else offline">Online</span>
        <ng-template #offline><span>Offline</span></ng-template>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Ex. pat@example.com">
          <mat-hint>Errors appear instantly!</mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
 </mat-card>
</div>



