<div fxLayout="column" fxLayoutAlign="end">
  <div fxLayout="row" fxLayoutAlign="center">
     <mat-card><h1>{{ message | titlecase }}</h1></mat-card>
  </div>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile><button mat-raised-button class="primary">Nav 1</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button class="primary">Nav 2</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button class="primary">Nav 3</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button class="primary">Nav 4</button></mat-grid-tile>
    </mat-grid-list>
</div>